---
import { Image } from "astro:assets";
import "./footer.scss";
import Wrapper from "../components/shared/Wrapper.astro";

import skipTheDish from '../../public/skipthedish.png';
import uberEats from '../../public/uber-eats.png';
import doordash from '../../public/doordash.png';
import instagram from '../../public/instagram.png';

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
    query footerQuery {
        footerOptions {
            footerOptions {
                deliveryServices {
                    doordashUrl
                    skipTheDishUrl
                    uberEatsUrl
                    croppedImage {
                        altText
                        sourceUrl
                    }
                }
                contactInformation {
                    contactAddress
                    contactName
                    contactNumber
                }
                socialMedia {
                    instagramUrl
                }
            }
        }
    }
  `,
  }),
});

const {
  data: {
    footerOptions: {
        footerOptions,
    },
  }
} = await response.json();
---

<footer class="main-footer">
    <Wrapper>
        <div id="main-footer-tigger" class="delivery">
            <div class="delivery-link delivery-skip">
                <div class="delivery-skip-wrap">
                    <a  
                    href={footerOptions.deliveryServices.skipTheDishUrl}
                    title="Get Delivery on skip the dish. This link opens in a new window."
                    target="_blank"
                    rel="noopener noreferrer"
                    >
                        <Image src={skipTheDish} alt="Skip the dish" />
                    </a>
                </div>
            </div>
            <div class="delivery-link delivery-uber">
                <div class="delivery-uber-wrap">
                    <a  
                    href={footerOptions.deliveryServices.uberEatsUrl}
                    title="Get Delivery on Uber Eats. This link opens in a new window."
                    target="_blank"
                    rel="noopener noreferrer"
                    >
                        <Image src={uberEats} alt="Uber East" />
                    </a>
                </div>
            </div>
            <div class="delivery-link delivery-door">
                <div class="delivery-door-wrap">
                    <a
                        href={footerOptions.deliveryServices.doordashUrl}
                        title="Get Delivery on Doordash. This link opens in a new window."
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Image src={doordash} alt="Doordash" />
                    </a>
                </div>
            </div>
            <div class="delivery-oil">
                <Image src={footerOptions.deliveryServices.croppedImage.sourceUrl} alt={footerOptions.deliveryServices.croppedImage.altText} width={250} inferSize={true} />
            </div>
        </div>
    </Wrapper>
    <div class="contact">
        <Wrapper>
            <div class="contact-wrap">
                <div class="contact-information">
                    <p>{footerOptions.contactInformation.contactName}</p>
                    <p><a title="Clicking this button will call our restaurant." href={`tel:+1${footerOptions.contactInformation.contactNumber}`}>{footerOptions.contactInformation.contactNumber}</a> <span>&#8226;</span> {footerOptions.contactInformation.contactAddress}</p>
                </div>
                <div class="contact-social">
                    <a
                    href={footerOptions.socialMedia.instagramUrl}
                    title="Follow us on Instagram. This link opens in a new window."
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <Image src={instagram} alt="Doordash" />
                </a>
                </div>
            </div>
        </Wrapper>
    </div>
</footer>


<script>
    import { gsap } from "gsap"
    import { ScrollTrigger } from "gsap/ScrollTrigger"
    gsap.registerPlugin(ScrollTrigger)

    const footer = document.querySelector('#main-footer-tigger');
    const logos = document.querySelectorAll('.delivery-link');

    if(footer && logos) {
        gsap
        .timeline({
            scrollTrigger :{
                trigger: footer,
                markers: false,
                start: "top 75%",
                toggleActions: "play none none none",
            }
        })
        .fromTo(
            logos,
            {autoAlpha: 0, y: 150,},{ autoAlpha: 1, y: 0, ease: "power2.inOut", stagger: { amount: 0.75,},
        }
      )
    }

</script>